#*/plugged/*
cache*
tmp/
.config/pavucontrol.ini
.config/pulse/
.config/mps-youtube/
.config/chromium/
.config/libreoffice/
.config/pcmanfm/
.config/ranger/
.config/configstore/
.config/gconf/apps/guake/
.config/mps-youtube/
